body {
  background-color: #45a173;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.blank-seat {
  flex: 1;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.player-container {
  flex: 1;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.active {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

.disconnected {
  background-color: rgba(177, 25, 25, 0.39);
}

.is-client {
  border: 1px solid white;
}
